body{
    background-image: linear-gradient(rgb(205, 160, 240),rgb(144, 238, 214));
    border: 10px solid purple;
    margin: 10px;
    color: red;
}
.heading{
    width: 100%;
    font-size: 22px;
}
#camera{
    width: 350px;
    height: 300px;
    border: 2px dashed rgb(12, 12, 12);
}